.category-container {
    overflow-x: auto;
    overscroll-behavior: contain;
  }

  .category-item-wrapper {
    width: 100%;
   transition: filter 0.3s ease-in-out;
    height: 100%;
    /* overflow: hidden; */
    animation:  slideInFromLeft 15s alternate-reverse infinite;
    /* background:red; */
  }
  .category-item {
    height: 100%;
  }

  .text-new{
    font-size: 2rem;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  