/* header{
    justify-content: space-between;
} */

::-webkit-scrollbar{
    display: none;
}

.displayNone{
    display: none;
}
.nav{
    display: flex;
    gap: 10px;
}

.close{
    display: none;
}

.nav li{
    font-size: 1.1rem;
    color: #000;
    font-weight: 400;
}

li{
    list-style: none;
}
/* .nav a:hover {
    color:orangered;
   } */
   span{
    display: none;
   }
   .serch{
    display: flex;
   }
   form{
    width: 90%;
    height: 100vh;
    top: -1px;
    background:#fff;
    right: -10px;
    transition: ease all 0.5s;
    position: absolute;
    z-index: 1;
   }

   


   @media only  screen  and (max-width:600px){
       header{
           position: relative;
           
       }
   
       span{
        display: block;
       }
       .serch{
        position: absolute;
        top:40%;
        right: 15%;
       }
       .close{
           display: inline-block;
           position: absolute; 
           top:30px;
           left:30px;
           font-size: 25px;
       }
       .nav{
        transition: ease all 0.5s;
        position: fixed;
        width: 70%;
        height: 100%;
        top: 0px;
        right: -100%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: white;
        z-index: 1;
       }
       nav a{
           transition: ease all 0.5s;
           text-align: center;
           width: 100%;
           display: inline-block;
       }

       
       
   }
   
   