::-webkit-scrollbar{
    display: none;
}

body{
    background-position: cover;
    background-origin: unset;
    
}

.heading{
    font-size: 20px;
    text-align: center;
    margin-bottom: .5rem ;
    font-weight: 600;
}